*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    max-width: 800px;
}


input[required]{
    border: 2px solid red;
}

input[required]:focus{
    border: 2px solid red;
}

fieldset{
    padding: 1rem;
    background-color: rgb(180, 172, 172);
}

fieldset:hover{
    background-color: rgb(134, 131, 131);
}

fieldset:first-of-type{
    border: 5px solid black;
}

fieldset:last-of-type{
    border: 5px solid black;
}

button[type="submit"]{
    background-color: black;
    color: white;
    border: 0;
}