*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1vmin;
}

body > .boo{
    grid-area: 1;
    width: 1vmin;
    height: 1vmin;

}